/* Navbar */
.web-title {
  font-size: 1.6rem;
  margin-left: 3rem;
  margin-right: 18.4rem;
  font-weight: 700;
  color: #333333;
}
nav img {
  margin-left: 2.8rem;
  margin-right: 1.8rem;
}
nav button {
  margin-left: 0;
  padding-left: 0;
}
.nav-item {
  margin-left: 0.4rem;
  margin-right: 0rem;
  font-size: 1.2rem;
  font-weight: 700;
}
a.nav-link {
  color: #aaaaaa!important;
}
a.nav-link:hover {
  text-decoration-line: underline;
}
.nav-item.active a {
  font-weight: 700;
  color: #73b998!important;
}
nav {
  background-color: rgba(0,0,0,0)!important;
}

/* Full-width image */
.full-width-img {
  background-color: #eeeeee;
  height: 126px;
}
.jumbotron.full-width-img img {
  position: relative;
  height: 127px;
  display: inline-block;
  top: -64px;
}
.jumbotron.line {
  margin: 0;
  padding: 0;
  height: 0.2rem;
  background-color: #73b998;
}
.jumbotron.footer {
  margin: 2rem 0 0 0;
  padding: 0;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
}

/* Bio */
.card.bio {
  border: none;
  margin-left: 40px;
}
.card .avatar {
  height: 320px;
  border-radius: 24px;
}
.card .name {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.card p.card-text.department {
  margin-bottom: 0;
}
.card p.card-text.email {
  margin-bottom: 0;
}
.center-part {
  text-align: center;
}
.card.info {
  left: -2rem;
}

/* Phone */
@media screen and (max-width: 990px) {
  img.paper-img {
    display: none;
  }
  .card {
    width: 100%;
    height: auto;
    border: 1px solid #d9dadb;
    border-radius: 8px 8px 8px 8px;
  }
  .container.researchs .label {
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 0rem;
    margin-bottom: 1rem;
  }
  .jumbotron.full-width-img img {
    position: relative;
    height: 127px;
    display: inline-block;
    top: -64px;
    left: -60px;
  }
  nav img {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .jumbotron.full-width-img {
    display: none;
  }
  nav img {
    display: none;
  }
  .container.researchs .label {
    margin-top: 1rem;
  }
}