/* Body */
.container.body {
  padding: 30px;
  background-color: #f6f6f6;
  width: 900px;
  border-radius: 4px;
}

/* Bio card */
.card.bio {
  margin: 0 30px 0 0;
  padding: 0;
  width: 260px;
  border: none;
  background-color: rgb(0,0,0,0)!important;
}
.card.bio .card-body {
  padding: 0;
  width: 260px;
}
.card .avatar {
  width: 260px;
  border-radius: 4px;
}
.card .name {
  margin-top: 16px;
  font-size: 24px;
}
.card .department {
  margin-bottom: 0;
  font-size: 14px;
}
.card .university {
  font-size: 14px;
}
.center-part {
  text-align: center;
}

/* Info */
.info-container {
  width: 550px;
  border: none;
}
.info-container p {
  display: block;
  padding: 6px;
  width: 550px;
  background-color: rgb(0,0,0,0);
  border-radius: 4px;
}
.interests span {
  display: inline-block;
  margin: 0 4px;
}
.para-label {
  margin: 0 0 6px 0;
  color: #555555;
}
.papers {
  display: block;
  margin: 0;
  background-color: #ffffff!important;
}
.papers span {
  display: block;
  font-size: 15px;
  line-height: 18px;
}
.papers span.cite {
  margin: 0 0 7px 0;
}

/* Responsive */
@media (min-height: 938px) {
.jumbotron.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}