.paper-title.h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.source {
  text-align: center;
}
.row.authors {
  text-align: center;
}
.row.units {
  text-align: center;
}
.para-label {
  margin: 0 0 6px 0;
  color: #555555;
}
.abstract {
  text-align: justify;
}
.center-part {
  text-align: center;
}

/* Responsive */