/* Researchs List */
img.paper-img {
  margin: 0 0 20px 30px;
  height: 180px;
  width: 180px;
  border-radius: 8px 0 0 8px;
  border-top: 1px solid #d9dadb;
  border-bottom: 1px solid #d9dadb;
  border-left: 1px solid #d9dadb;
}
.card {
  margin: 0px 30px 20px 0;
  width: 660px;
  height: 180px;
  border-radius: 0 8px 8px 0;
  border-left: none;
}
.researchs-label {
  font-size: 19px;
  font-weight: 700;
  margin: 0 0 10px 30px;
}

/* Card title */
.card-title {
  margin: 6px 0 6px 0;
}
.card-title a {
  color: #000000;
}
.card-title a:hover {
  color: #73b998;
}

/* Card body */
.card-text {
  padding: 0;
  margin: 0;
}
.card-body span a {
  color: #73b998;
  text-decoration-line: none;
}
.card-body span a:hover {
  color: #73b998;
  text-decoration-line: underline;
}

/* Responsive */
@media (min-height: 1186px) {
.jumbotron.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}